.cache
.history
*.log
/.classpath
/.idea_modules
/.project
/.settings
/.sbtopts
/*.iml
/*.sc
/bin/
/db
/dist/
/lib/
/modules
/out
/RUNNING_PID
dist
logs
project/project
project/target
server.pid
target
test-result
tmp
cx.json
.bsp/
.metals/
.scalafmt.conf
.vscode/
toolbox/
/.idea